body{
     font-family: Arial,sans-serif;
     background-color: rgba(0, 81, 255, 0.61);
     color:aliceblue
}
h1{
    font-size: 24px;
    font-weight: bold;
    color:black
}
h4{
    font-size:  16px;
    line-height:1.5;
    text-align: center;
    
}